
.container_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.layout{
    width: 100%;
    min-height: 100vh;
    background: url("../../images/Profile\ Background.png");
    background-repeat: no-repeat;
    background-size: cover;


}

@media(max-width: 750px){
    .layout{
        min-height: 160vh;
    }
}